.App {
  display:flex;
  justify-content: center;
  flex-flow: row wrap;
}

.displayItems{
  text-align:center;
  max-width:250px;
}
.star {
	display: inline-block;
  margin: 0 15px;
}

.star:after {
  content: "\2605";
  font-size: 45px;
}

.number {
  display: inline-block;
  background-color: #eee;
  border: thin solid #ddd;
  width: 45px;
  height: 45px;
  margin: 10px;
  font-size: 25px;
}
